h2.sidebarTitle {
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0px;
    border-bottom: 2px solid #54B4EB;
}

.descriptionLink {
    /* None */
}

.descriptionLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.overlay {
    position: absolute;
    z-index: 2;
}

.sidebar {
    width: 200px;
    height: 598px;
    background-color: white;
    font-size: 24px;
    border-right: 2px solid #54B4EB;
    border-radius: 0px 0px 0px 5px;
    overflow-y: auto;
}

.description {
    font-size: 16px;
    text-align: left;
    padding-top: 10px;
}

.button.sidebarElement {
    background-color: transparent;
    background-image: linear-gradient(#FFFFFF, #F2F2F2 60%, #E6E6E6);
    border-radius: 0px;
    margin: 0px;
}

.button.sidebarElement.protein {
    border-bottom: 2px solid #54B4EB;
}

.selected {
    color: #167FBB;
    background-color: #002AA8 !important;
}

.right {
    margin-left: 200px;
}

.furtherRight {
    margin-left: 400px;
}

#submitJob {
    top: 10px;
    right: 10px;
    font-size: 22px;
    margin: 0px;
}