#mainMenuUI {
    background-color: white;
    font-size: 22px;
}

h1.mainMenuTitle {
    font-size: 55px;
    margin: 0px;
    margin-top: 34px;
}

div.topic {
    height: 160px;
    cursor: pointer;
}

div.topic.selected{
	background-color: #E8E8E8;
}

img.topicImage {
    float: left;
    margin: 15px;
}

div.topicDescription {
    font-size: 13px;
    text-align: left;
}

#mainMenuLeft {
    max-width: 630px;
    min-width: 630px;
    float: left;
    text-align: center;
}

#mainMenuRight {
    float: right;
    text-align: center;
    padding-top: 70px;
}

#topicList {
    max-height: 380px;
    min-height: 380px;
    height: inherit;
    overflow: auto;
    margin: 25px;
}

/* High Scores */

#highScores{
    white-space: nowrap;
    height: 240px;
    width: 366px;
    font-size: 16px;
    overflow: hidden;
    padding: 0px;
}

#names {
    text-align: left;
    float: left;
    width: 200px;
}

#scores {
    text-align: right;
    float: right;
    width: 100px;
    padding-right: 15px;
}

/*
    Buttons
*/

.btn.greenButton {
    width: 200px;
    margin: auto;
}

.btn.blueButton {
    width: 200px;
    margin: auto;
    display: block;
}

#startButton {
    font-size: 22px;
}

#tutorialButton {
    font-size: 22px;
}