/* Main Components */

body {
    /* user-select: none;*/ /* Note: If this ever gets spec, you can uncomment this */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

.flashcardsGame canvas {
    margin: 0;
    background: transparent;
}

/* Parent Div Elements */

div.flashcardsGame {
    min-width: 1004px;
    min-height: 64px;
}

#container {
    width: 1004px;
    height: 604px;
    margin: auto;
}

#canvasContainer {
    position: absolute;
    z-index: -1;
}

/* Component Classes */

.screen {
    height: 600px;
    width: 1000px;
    border-radius: 0px 0px 5px 5px;
    border-top: 0px;
    position: absolute;
    display: block;
    background-color: white;
}

/* Text and Headings and Links */

h1 {
    font-size: 72px;
    color: #555;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #555;
}

.screen h1, .screen h2 {
    text-align: center;
}

p.errorText {
    font-size: 22px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Transition classes */

.slide {
    opacity: 1;
    overflow: hidden;
    transition: all 0.3s linear;
    transition-property: height, padding, border;
}

/* TODO: May be a cleaner way to do this without using !important. */
.slide.up {
    height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
}

.active {
    z-index: 1;
}

.activeTop {
    z-index: 2;
}