

#start_ui{
	//display: none;
	display: block;
	text-align: center;
	padding-top: 1.5%;
}

#start_ui #layout{
	color: black;
	font-weight:bold;
	font-size: 32px;
	margin-left: auto;
	margin-right: auto;	
	width: 95%;
}

#start_ui #layout #game_title{
	font-size:72px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	color: black;
}

#start_ui #layout #local_high{
	text-align: right;
}

#start_ui #layout #global_high{
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#start_ui #layout #global_high .score{
	color: black;
	font-size: 24px;
	width: 75%;
}

#start_ui #layout #description{
	font-size: 24px;	
	height: 80%;
	font-weight: 100;
	color: black;
}

#start_ui #layout #num_questions{
	vertical-align: top;
	font-weight: 100;
	font-size: 24px;
	color: black;
}

#start_ui #layout #start_time{
	text-align: left;	
	font-weight: 100;
	font-size: 24px;
	color: black;
}

#game_wrapper #start_ui #layout .back_button #back_arrow{
	height: 22px;
	float: left;
	margin: 3 0 0 6;
}

#game_wrapper #start_ui #layout .back_button #text{
	height: 20px;
	float: right;
	margin-right: 6;
}

#game_wrapper #start_ui #layout #loading_bar_wrapper{
	height: 93px;
	width: 35%;
	margin: auto;
	display : block;
}

#game_wrapper #start_ui #layout #loading_bar_wrapper #loading_bar{
	background: white;
	height: 50%;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	border-radius:24px;
	border:4px solid #FFF;
	overflow: hidden;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

#game_wrapper #start_ui #layout #loading_bar_wrapper #loading_progress{
	background: #1e5799;
	background: -moz-linear-gradient(left, #1e5799 0%, #2989d8 50%, #207cca 100%, #7db9e8 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(100%,#207cca), color-stop(100%,#7db9e8));
	background: -webkit-linear-gradient(left, #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%);
	background: -o-linear-gradient(left, #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%);
	background: -ms-linear-gradient(left, #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%);
	background: linear-gradient(to right, #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
	width: 30%;
	height: 100%;
}

#game_wrapper #start_ui #layout #loading_bar_wrapper #loading_text{
	font-size: 24px;
	text-align: center;
	color: black;
}


#game_ui{
	display: none;
}

#end_ui{
	//display: block;
	display: none;
	color: white;	
	font-weight:bold;
	vertical-align: middle;
	padding-top: 3%;
}

#end_ui #end_left{
	float: left;
	width: 70%;
}

#end_ui #end_right{
	float: right;
	width: 30%
}

#end_ui #end_right #question_stats{
	width: 100%
}

#end_ui #play_again_wrapper{
	margin:auto;
	width:200;
}


#end_ui #percent_correct{
	margin: auto;
	text-align: center;
	color: black;
}

#end_ui #percent_correct #val{
	font-size:72px;
	color:green;
	text-shadow:1px 1px 0px #000;
}

#end_ui #percent_correct #message{
	font-size:60px;	
	color: black;
}

#end_ui #final_score{
	margin: auto;
	width: 70%;
	color: white;
	font-weight:bold;
	font-size:24px;
	color: black;
}

#end_ui #final_score #val{
	text-align: right;
	color: black;
}
#end_ui #final_score #bonus #val{
	border-bottom: 1 solid black;	
}


#answers_frame{
	//height: 60%;
	width: 34%;
	margin: 2% 3% 2% 0;
	-moz-border-radius: 15px;
	border-radius: 15px;
	float:right
	
}

/*#answers_frame */
h1{
	color:black;
	position:relative;
	//margin: 2% 3% 2% 3%;
	font-size: 32px;
}

#augment_score{
	float:right;
	vertical-align: bottom;
	margin: 2% 0% 2% 3%;
	opacity: 0;
	text-shadow:1px 1px 0px #000;
}
#augment_score.correct{
	color:#77d42a;
}
#augment_score.incorrect{
	color:#fe1a00;
}

#score{
	float:right;
	text-align: right;
	margin: 2% 3% 2% 2%;
	color: black;
}
 
#time{
	float:left;
	text-align: left;
	margin: 2% 3% 0% 3%;
	color: black;
}

#progress{
	float: right;
	text-align: right;
	margin: 2% 3% 3% 2%;
	color: black;
}

#molecule_frame{
	position: relative;
	margin-bottom: 5%;
	width: 58%;
	height: 85%;
	float: left;
	-moz-border-radius: 15px;
	border-radius: 15px;
	z-index: 10;
	margin-bottom: 3%;
}

#game_frame{
	margin: 0 auto;
	background-color: Black;//#141753;
	height : 650px;
	width  : 1080px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow:inset 0px 0px 5px 1px #79bbff;
	-webkit-box-shadow:inset 0px 0px 5px 1px #79bbff;

}



.answer_button {
	width: 100%;
	-moz-box-shadow:inset 0px 1px 0px 0px #fafafa;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fafafa;
	box-shadow:inset 0px 1px 0px 0px #fafafa;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8a8a8a), color-stop(1, #333333) );
	background:-moz-linear-gradient( center top, #8a8a8a 5%, #333333 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#333333');
	background-color:#8a8a8a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #f0f0f0;
	//display:inline-block;
	color:#fff;
	font-family:Verdana;
	font-size:24px;
	font-weight:bold;
	padding:12px 0px;
	text-decoration:none;
	text-shadow:1px 1px 0px #919191;
	margin: auto auto 5% auto;
}.answer_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #333333), color-stop(1, #8a8a8a) );
	background:-moz-linear-gradient( center top, #333333 5%, #8a8a8a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#8a8a8a');
	background-color:#333333;
}.answer_button:active {
	position:relative;
	top:1px;
}

.answer_button.correct {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	border:1px solid #fff; //#268a16;
	display:inline-block;
	color:#ffffff;
	text-decoration:none;
	text-shadow:1px 1px 0px #5cb811; 
}

.answer_button.correct:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}
.answer_button.correct:active {
	position:relative;
	top:1px;
}

.answer_button.incorrect {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	border:1px solid #fff; //#d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}

.answer_button.incorrect:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}
.answer_button.incorrect:active {
	position:relative;
	top:1px;
}

#start_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	border-radius:24px;
	border:4px solid #FFF;
	display:inline-block;
	color:#fcfdff;
	font-family:Verdana;
	font-size:60px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #5cb811;
	width: 35%;
	margin: 0 32.5% 0 32.5%;
	position: relative;
	display: none;
}
#start_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}
#start_button:active {
	position:relative;
	top:1px;
}

.back_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:4px solid #FFF;
	display:inline-block;
	color: #fcfdff;
	font-family:Verdana;
	font-size:21px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #5cb811;
	height: 45px;
	width: 120px;
	vertical-align: middle;
	
}.back_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.back_button:active {
	position:relative;
	top:1px;
}

#play_again_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:4px solid #FFF;
	display:inline-block;
	color: #fcfdff;
	font-family:Verdana;
	font-size:21px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #5cb811;
	height: 45px;
	width: 200px;
	vertical-align: middle;
	margin: auto;
	
}#play_again_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}#play_again_button:active {
	position:relative;
	top:1px;
}


/****************************
 * TILES *
 ****************************/
#tile_wrapper{
	margin: 0 auto;
	height: 100%;
	width: 100%;
	position: relative;
	float:left;
	overflow: hidden;
}

#tile_wrapper #tile_header{
	margin: 5 0 0 16;
	color: black;
}

#game_wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	left: 1100;
	float:left;
	top: -200%;
}

.module-game-tile {
	height: 230px;
	width: 250px;
	background: #fff;
	float: left;
	margin: 16 0 0 16;
	overflow: hidden;
	position: relative;
	text-align: center;
	border: 0;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	zoom: 1;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
}
		
.module-game-tile .game-image-wrapper {
	cursor: pointer;
	display: inline-block;
	height: 188px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	text-align: left;
	z-index: 10;
	zoom: 1;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}
.module-game-tile .text-wrapper {
	background: #fff;
	position: relative;
	z-index: 20;
	height: 30%;
	margin-top: -3px;
}
.module-game-tile .text-wrapper .text {
	height: 52px;
	margin: -3px 10px 0 10px;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-align: left;
	zoom: 1;
}
.module-game-tile .text-wrapper .text h3 {
	color: #313131;
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0;
}
.module-game-tile .text-wrapper .text h3.overflow {
	line-height: 1.25rem;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
}
.module-game-tile .text-wrapper .text h3 a {
	color: #333;
	display: block;
	padding: 6px 0;
	border-top: 1px solid #999;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	background: transparent;
	border: 0;
	margin: 0;
}
.play-btn-wrapper{
	z-index: 15;
	position: relative;
	top: 0px;
	opacity: 0;

}
.game-image{
	display: block;
	width: 228px;
	height: 98%;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}
.module-game-tile .game-image-overlay {
	display: none;
	position: absolute;
	background: #000;
	opacity: 0.5;
	filter: Alpha(opacity=50);
	z-index: 1;
	width: 100%;
	height: 98%;
	top: 0;
	left: 0;
	display: none;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}
.play-btn .button-text {
	display: block;
	padding: 52px 25px;
	height: auto;
	text-shadow: 0 0 3px rgba(0,0,0,0.44);
	text-align: center;
	vertical-align: middle;
}


.play_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:4px solid #FFF;
	display:inline-block;
	color: #fcfdff;
	font-family:Verdana;
	font-size:21px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #5cb811;
	height: 45px;
	width: 100px;
	
}.play_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.play_button:active {
	position:relative;
	top:1px;
}
.module-game-tile .text-wrapper .text {
	height: 52px;
	margin: -3px 10px 0 10px;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-align:center;
	zoom: 1;
}

#reg_area{
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}

#login_area{
	float: left;
	width: 100%;
	overflow: hidden;
}

#login_frame{
	background: grey;
	width: 25%;
	margin: 8% 5%;
	overflow: hidden;
	height: 40%;
	border: medium solid #5a7eaa;
	background: #e5f6ff;
	padding: 0 7%;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	opacity: 0;
	float: right;
}

#login_wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	float:left;
}

.login_input{
	width: 100%;
	font-size: 16px;
}

.register_input{
	width: 100%;
	font-size: 16px;
}

#login_error{
	color: red;
	font-size: 12px;
	opacity: 0;
}

.login_option{
	font-size: 12px;
	cursor: pointer;
}

.login_frame_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.login_frame_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.login_frame_button:active {
	position:relative;
	top:1px;
}

#reg_error{
	color: red;
	font-size: 12px;
	opacity: 0;
}

.tile_page{
	float: left;
	width: 1080;
	height: 100%;
	
}

#tile_pages{
	width: 1080;
	height: 80%;
	position: relative;
	overflow: hidden;
}

#tile_next_page{
	display: none;
	float: right;
	position: relative;
	top: 20;
	right: 7;
}

#tile_next_page #arrow{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
	height: 16;
	position: relative;
	top: 2;
	left: 5;
}

#tile_prev_page{
	display: none;
	float: left;
	float: left;
	position: relative;
	left: 14;
	top: 20;
}

#tile_prev_page #arrow{
	height: 16;
	position: relative;
	top: 2;
	left: -5;
}

#welcome_message{
	font-size: 52px;
	text-align: center;
}

#demo_molecule{
	width: 50%;
	height: 70%;
	float: left;
}