/* Main Components */

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    /* user-select: none;*/ /* Note: If this ever gets spec, you can uncomment this */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

/* Parent Div Elements */
.login {
    min-width: 1004px;
    min-height: 64px;
}

#container {
    width: 1004px;
    height: 604px;
    margin: auto;
}

/* Component Classes */

div.button {
    text-align: center;
    background-color: #DBDBDB;
    background-image: linear-gradient(#E8E8E8, #DBDBDB 60%, #CFCFCF);
    margin: 20px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

div.button:hover {
    opacity: 1.0;
}

.button.blueButton {
    color: white;
    background-color: #2FA4E7;
    background-image: linear-gradient(#1D9CE5, #198ED2 60%, #167FBB);
    opacity: 0.8;
}

.button.blueButton:hover {
    opacity: 1.0;
}

.screen {
    height: 600px;
    width: 1000px;
    border: 2px solid #54B4EB;
    border-radius: 0px 0px 5px 5px;
    border-top: 0px;
    background-color: white;
    position: absolute;
    display: block;
}

/* Text and Headings and Links */

h1 {
    font-size: 72px;
    color: black;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
}

.screen h1, .screen h2 {
    text-align: center;
}

a.headerLinks:link {
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

a.headerLinks:visited {
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

a.headerLinks:hover {
    color: #262626;
    text-decoration: underline;
}

p.errorText {
    font-size: 22px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Transition classes */

.fade {
    opacity: 0 !important;
    transition: opacity 0.5s linear;
}

.fade.in {
    opacity: 1 !important;
}

.slide {
    opacity: 1;
    overflow: hidden;
    transition: all 0.3s linear;
    transition-property: height, padding, border;
}

/* TODO: May be a cleaner way to do this without using !important. */
.slide.up {
    height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
}

.active {
    z-index: 1;
}

.activeTop {
    z-index: 2;
}

.hide {
    display: none !important;
}

.hide.active {
    display: block !important;
}


/* Login Specific */

#loginBox {
    height: 280px;
}

#registerBox {
    height: 340px;
}

.inputContainer {
    margin: 50px auto;
    width: 400px;
    text-align: center;
}

.inputBox {
    height: 300px;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
}

h1.inputContainer {
    text-align: center;
}

a.basicLink {
    color: #167FBB;
    display: inline;
    cursor: pointer;
    text-decoration: none;
}

a.basicLink:hover {
    text-decoration: underline;
}

span.error {
    color: red;
}

span.good {
    color: green;
}

.inputBox .button { 
    margin: 10px auto;
    max-width: 100px;
}

.inputBox form {
    width: 100%;
}

.inputBox label, .inputBox input {
    display: inline-block;
}

.inputBox label {
    clear: both;
    margin: 6px auto;
    text-align: right;
    width: 95%;
}

.inputBox label input {
    width: 55%;
    margin-left: 10px;
}

.returnMenuButton {
    margin: auto !important;
    width: 200px;
}

.endLogin {
    padding-top: 100px;
    text-align: center;
}