.container .jumbotron{
    padding: 20px;
}

#welcomeMsg{
    text-align: center;
    font-size: 52px;
    margin-top: 0;
}

#redirectMsg{
    text-align: center;
    margin-top: 0;
}

/* Login Specific */

#loginWrapper{
    padding: 0px 20px;
    overflow: hidden;
    position: relative;
    top: 110px;
}

#loginArea {

}

#loginHeader{
    font-size: 24px;
    margin: 10px 0px;
}

.loginOption{
    font-size: 14px;
}

.loginOption a{
    cursor: pointer;
}

/*

*/

#regWrapper{
    height: 0;
    display: none;
    padding: 0px 20px;
    overflow: hidden;
    position: relative;
    top: 80px;
}

#regArea {

}

#regHeader{
    font-size: 24px;
    margin: 10px 0px;
}

.regOption{
    font-size: 14px;
}

/*

*/

#demoMolecule{
    height: 500px;
}

#bodyRow{
    height: 500px;
}

#loginEmail{
    border-radius: 4px 4px 0px 0px;
}

#loginPass{
   border-radius: 0px 0px 4px 4px; 
}

#regEmail{
    border-radius: 4px 4px 0px 0px;
}

#regUser{
    border-radius: 0px;
}

