
.molNameLabel{
    font-family: inherit;
    font-size: inherit;
}

.moleculeSearchWrapper{
    width: 100%;
    height: 50%;
}

.molName{
    width: 100%;
}

.loadingMsg{
    text-align: center;
    display: none;
    position: relative;
    top: -54%;
    color: white;
    float: left;
    width: 100%;
}

.glmol_src{
    display: none;
}

.glmol{
    width: 100%;
    height: 95%;
    //background-color: black;
    margin: 0 auto;
}