body{
    background-color: #272b30;
}

footer{
    color: white;
}

h1{
     color: white;   
}

#gmolArea{
    height: 475px;
}

#topMolList{
    cursor: pointer;
}

#footer{
    margin-bottom: 0px;
}

.molPropTable{
    width: 100%;
}

.molPropText{
    text-align: center;
    margin: 0;
}

#moleculeName{
    margin-top: 0;
    position: absolute;
    top: 0;
}

#almostEverythingRow{
    height: 600px;
    max-height: 600px;
    margin-top: 15px;
}

.citation{
    margin: 0 0 10px 0;
    font-size: 10px;
    color: white;
}

.panel{
    margin-bottom: 10px;
}

.molNameWrapper{
    margin-bottom: 10px;
}

#welcomeAlert{
    display: none;
}